/* The style for everything in the program */
body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#bg{
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
#bg img{
    height: 120vh;
    width: 105%;
    -webkit-filter:blur(75px);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#blackLayer{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    position: absolute;
    z-index: 99;
}
#main{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
#image img{
    display: block;
    height: 65%;
    width: 60%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

#player{
    padding: 25px;
    color:#333;
    padding-bottom: 50px;
}

#songTitle{
    width:300px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #E8E8E8;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#buttons{
    height: 100px;
    width: 100%;
    margin-top: 50px;
    position:relative;
    top:10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#play,#next,#pre{
    width: 0px;
    height: 0px;
    border: 0;
    background-color:#3B3B3B;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#next{
    left: 60%;
}
#pre{
    left: 40%;
}
#play img,#next img,#pre img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
    height: 70px;
}
#seek-bar{
    width: 500px;
    height: 7.5px;
    background-color:white;
    display: flex;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
#fill{
    height: 0px;
    background-color:#3B3B3B;
    border-radius: 20px;
}
#handle{
    width: 8px;
    height: 8px;
    background-color:#3B3B3B;
    border-radius: 50%;
    margin-left: -5px;
    transform: scale(2);
}
#currentTime{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #E8E8E8;
    position: absolute;
    top: 95%;
    left: 35%;
    transform: translate(-50%,-50%);
}
#volume{
    position: absolute;
    top: 95%;
    left: 60%;
    transform: translate(-50%,-50%);
    display: flex;
}
#volumeIcon{
    height: 0px;
    width:0px;
    background-color: #3B3B3B;
    border-radius: 50%;
}
#volumeIcon img{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 60%;
    left: 0%;
    transform: translate(-50%,-50%);
}
#vslider{
    -webkit-appearance: none;
    width: 100px;
    height: 5px;
    background: white;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;
    top: 30%;
    left: 200%;
}
#vslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background: #3B3B3B;
    cursor: pointer;
  }